html {
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

body {
  padding: 2em;
  overflow: auto !important;
}

section {
  padding-right: 2em;
  margin-bottom: 2em;
}
h3 {
  margin-top: 2em;
}

#split {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

#inputs,
#example {
  width: 50%;
}

#example {
  position: fixed;
  right: 8px;
}

#example-container {
  padding: 25px;
  background-color: #444;
  background-image: -moz-linear-gradient(45deg, #333 25%, transparent 25%),
    -moz-linear-gradient(-45deg, #333 25%, transparent 25%),
    -moz-linear-gradient(45deg, transparent 75%, #333 75%),
    -moz-linear-gradient(-45deg, transparent 75%, #333 75%);
  background-image: -webkit-gradient(
      linear,
      0 100%,
      100% 0,
      color-stop(0.25, #333),
      color-stop(0.25, transparent)
    ),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #333), color-stop(0.25, transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, #333)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, #333));

  background-position: 0 0, 16px 0, 16px -16px, 0px 16px;

  -moz-background-size: 32px 32px;
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
}
